@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}

h1 {
  @apply text-4xl;
  @apply font-semibold;

}

h2 {
  font-weight: 600;
  @apply font-semibold;

}



.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}